<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño sitio web Restoran</title>
</head>
<body>
    <header>
        <a href="/">Resto</a>

        <nav>
            <a href="/">home</a>
            <a href="#">dishes</a>
            <a href="#">about</a>
            <a href="#">menu</a>
            <a href="#">review</a>
            <a href="#">order</a>
        </nav>

        <div>
            <i>Icono bars</i>
            <i>Icono search</i>
            <a href="#">Icono heart</a>
            <a href="#">Icono shopping cart</a>
        </div>

    </header>


    <form action="">
        <input type="search" placeholder="search here...">
        <label for="">Icono search</label>
        <i>Icono times</i>
    </form>

</body>
</html>