<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño sitio web Restoran</title>
</head>
<body>


    <!-- header section starts -->

    <header>
        <a href="/">Resto</a>

        <nav>
            <a href="/">home</a>
            <a href="#">dishes</a>
            <a href="#">about</a>
            <a href="#">menu</a>
            <a href="#">review</a>
            <a href="#">order</a>
        </nav>

        <div>
            <i>Icono bars</i>
            <i>Icono search</i>
            <a href="#">Icono heart</a>
            <a href="#">Icono shopping cart</a>
        </div>

    </header>

    <!-- header section ends -->

    <!-- search form -->


    <form action="">
        <input type="search" placeholder="search here...">
        <label for="">Icono search</label>
        <i>Icono times</i>
    </form>

    <!-- home section starts -->

    <section>
        <div>
            <div>
                <div>
                    <div>
                        <span>our special dish</span>
                        <h3>spicy noodles</h3>
                        <p>lorem</p>
                        <a href="#">order now</a>
                    </div>
                    <div>
                        <img src="" alt="">
                    </div>
                </div>
                <div>
                    <div>
                        <span>our special dish</span>
                        <h3>spicy noodles</h3>
                        <p>lorem</p>
                        <a href="#">order now</a>
                    </div>
                    <div>
                        <img src="" alt="">
                    </div>
                </div>
                <div>
                    <div>
                        <span>our special dish</span>
                        <h3>spicy noodles</h3>
                        <p>lorem</p>
                        <a href="#">order now</a>
                    </div>
                    <div>
                        <img src="" alt="">
                    </div>
                </div>
            </div>
            <div>pagination</div>
        </div>
    </section>

    <!-- home section ends -->

    <!--  dishes section starts  -->

    <section>

        <h3>our dishes</h3>
        <h1>ppular dishes</h1>

        <div>

            <div>
                <a href="#">Icono heart</a>
                <a href="#">Icono eye</a>
                <img src="" alt="">
                <h3>taty food</h3>
                <div>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star-half</i>
                </div>
                <span>$15.99</span>
                <a href="#">add to cart</a>
            </div>

            <div>
                <a href="#">Icono heart</a>
                <a href="#">Icono eye</a>
                <img src="" alt="">
                <h3>taty food</h3>
                <div>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star-half</i>
                </div>
                <span>$15.99</span>
                <a href="#">add to cart</a>
            </div>

            <div>
                <a href="#">Icono heart</a>
                <a href="#">Icono eye</a>
                <img src="" alt="">
                <h3>taty food</h3>
                <div>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star-half</i>
                </div>
                <span>$15.99</span>
                <a href="#">add to cart</a>
            </div>

            <div>
                <a href="#">Icono heart</a>
                <a href="#">Icono eye</a>
                <img src="" alt="">
                <h3>taty food</h3>
                <div>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star-half</i>
                </div>
                <span>$15.99</span>
                <a href="#">add to cart</a>
            </div>

            <div>
                <a href="#">Icono heart</a>
                <a href="#">Icono eye</a>
                <img src="" alt="">
                <h3>taty food</h3>
                <div>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star-half</i>
                </div>
                <span>$15.99</span>
                <a href="#">add to cart</a>
            </div>

            <div>
                <a href="#">Icono heart</a>
                <a href="#">Icono eye</a>
                <img src="" alt="">
                <h3>taty food</h3>
                <div>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star</i>
                    <i>icono star-half</i>
                </div>
                <span>$15.99</span>
                <a href="#">add to cart</a>
            </div>

        </div>

    </section>

    <!--  dishes section ends  -->

    <!--  about section starts  -->

    <section>
        <h3>about us</h3>
        <h1>why choose us?</h1>
        <div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <h3>best food the country</h3>
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus minus quasi voluptas illo eligendi consequuntur cupiditate doloribus voluptate! Ipsa dolore adipisci debitis nisi non? Blanditiis vitae accusantium voluptatum numquam quasi. </p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, facere! Ipsum deserunt saepe vitae maiores, dolore ducimus ipsam. Autem nostrum nobis animi iure quibusdam officia consequatur cumque accusamus architecto consequuntur! </p>
                <div>
                    <div>
                        <i>icono shipping</i>
                        <span>free delivery</span>
                    </div>
                    <div>
                        <i>icono shipping</i>
                        <span>free delivery</span>
                    </div>
                    <div>
                        <i>icono shipping</i>
                        <span>free delivery</span>
                    </div>
                </div>
                <a href="#">learn more</a>
            </div>
        </div>
    </section>

    <!--  about section ends  -->

    <!--  menu section starts  -->

    <section>

        <img src="" alt="">
        <a href="#"></a>
        <div>
            <div>
                <div>
                    <img src="" alt="">
                    <a href=""></a>
                </div>
                <div>
                    <div>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                    </div>
                    <h3>delicius food</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, deleniti porro. Tenetur illum est ipsam voluptatem inventore dolorum quis nihil voluptatum adipisci corrupti? Error fugiat incidunt id ipsam, perferendis neque.</p>
                    <a href="#">add to cart</a>
                    <span>$12..99</span>
                </div>
            </div>
            <div>
                <div>
                    <img src="" alt="">
                    <a href=""></a>
                </div>
                <div>
                    <div>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                    </div>
                    <h3>delicius food</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, deleniti porro. Tenetur illum est ipsam voluptatem inventore dolorum quis nihil voluptatum adipisci corrupti? Error fugiat incidunt id ipsam, perferendis neque.</p>
                    <a href="#">add to cart</a>
                    <span>$12..99</span>
                </div>
            </div>
            <div>
                <div>
                    <img src="" alt="">
                    <a href=""></a>
                </div>
                <div>
                    <div>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                    </div>
                    <h3>delicius food</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, deleniti porro. Tenetur illum est ipsam voluptatem inventore dolorum quis nihil voluptatum adipisci corrupti? Error fugiat incidunt id ipsam, perferendis neque.</p>
                    <a href="#">add to cart</a>
                    <span>$12..99</span>
                </div>
            </div>
            <div>
                <div>
                    <img src="" alt="">
                    <a href=""></a>
                </div>
                <div>
                    <div>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                    </div>
                    <h3>delicius food</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, deleniti porro. Tenetur illum est ipsam voluptatem inventore dolorum quis nihil voluptatum adipisci corrupti? Error fugiat incidunt id ipsam, perferendis neque.</p>
                    <a href="#">add to cart</a>
                    <span>$12..99</span>
                </div>
            </div>
            <div>
                <div>
                    <img src="" alt="">
                    <a href=""></a>
                </div>
                <div>
                    <div>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                    </div>
                    <h3>delicius food</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, deleniti porro. Tenetur illum est ipsam voluptatem inventore dolorum quis nihil voluptatum adipisci corrupti? Error fugiat incidunt id ipsam, perferendis neque.</p>
                    <a href="#">add to cart</a>
                    <span>$12..99</span>
                </div>
            </div>
            <div>
                <div>
                    <img src="" alt="">
                    <a href=""></a>
                </div>
                <div>
                    <div>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                    </div>
                    <h3>delicius food</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, deleniti porro. Tenetur illum est ipsam voluptatem inventore dolorum quis nihil voluptatum adipisci corrupti? Error fugiat incidunt id ipsam, perferendis neque.</p>
                    <a href="#">add to cart</a>
                    <span>$12..99</span>
                </div>
            </div>
            <div>
                <div>
                    <img src="" alt="">
                    <a href=""></a>
                </div>
                <div>
                    <div>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                    </div>
                    <h3>delicius food</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, deleniti porro. Tenetur illum est ipsam voluptatem inventore dolorum quis nihil voluptatum adipisci corrupti? Error fugiat incidunt id ipsam, perferendis neque.</p>
                    <a href="#">add to cart</a>
                    <span>$12..99</span>
                </div>
            </div>
            <div>
                <div>
                    <img src="" alt="">
                    <a href=""></a>
                </div>
                <div>
                    <div>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                    </div>
                    <h3>delicius food</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, deleniti porro. Tenetur illum est ipsam voluptatem inventore dolorum quis nihil voluptatum adipisci corrupti? Error fugiat incidunt id ipsam, perferendis neque.</p>
                    <a href="#">add to cart</a>
                    <span>$12..99</span>
                </div>
            </div>
            <div>
                <div>
                    <img src="" alt="">
                    <a href=""></a>
                </div>
                <div>
                    <div>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                        <i>icono star</i>
                    </div>
                    <h3>delicius food</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, deleniti porro. Tenetur illum est ipsam voluptatem inventore dolorum quis nihil voluptatum adipisci corrupti? Error fugiat incidunt id ipsam, perferendis neque.</p>
                    <a href="#">add to cart</a>
                    <span>$12..99</span>
                </div>
            </div>
        </div>
    </section>

    <!--  menu section ends  -->

    <!--  review section starts -->

    <section>

        <h3>custome's review</h3>
        <h1>what they say</h1>

        <div>
            <div>
                <div>
                    <i></i>
                    <div>
                        <img src="" alt="">
                        <div>
                            <h3>john deo</h3>
                            <div>
                                <i>icono star</i>
                                <i>icono star</i>
                                <i>icono star</i>
                                <i>icono star</i>
                                <i>icono star</i>
                            </div>
                        </div>
                    </div>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum aliquam accusantium alias, delectus recusandae iusto maxime amet ea id in tenetur voluptatum quos deleniti non, ex, debitis quae quibusdam eius. </p>
                </div>
                <div>
                    <i></i>
                    <div>
                        <img src="" alt="">
                        <div>
                            <h3>john deo</h3>
                            <div>
                                <i>icono star</i>
                                <i>icono star</i>
                                <i>icono star</i>
                                <i>icono star</i>
                                <i>icono star</i>
                            </div>
                        </div>
                    </div>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum aliquam accusantium alias, delectus recusandae iusto maxime amet ea id in tenetur voluptatum quos deleniti non, ex, debitis quae quibusdam eius. </p>
                </div>
                <div>
                    <i></i>
                    <div>
                        <img src="" alt="">
                        <div>
                            <h3>john deo</h3>
                            <div>
                                <i>icono star</i>
                                <i>icono star</i>
                                <i>icono star</i>
                                <i>icono star</i>
                                <i>icono star</i>
                            </div>
                        </div>
                    </div>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum aliquam accusantium alias, delectus recusandae iusto maxime amet ea id in tenetur voluptatum quos deleniti non, ex, debitis quae quibusdam eius. </p>
                </div>
                <div>
                    <i></i>
                    <div>
                        <img src="" alt="">
                        <div>
                            <h3>john deo</h3>
                            <div>
                                <i>icono star</i>
                                <i>icono star</i>
                                <i>icono star</i>
                                <i>icono star</i>
                                <i>icono star</i>
                            </div>
                        </div>
                    </div>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum aliquam accusantium alias, delectus recusandae iusto maxime amet ea id in tenetur voluptatum quos deleniti non, ex, debitis quae quibusdam eius. </p>
                </div>
            </div>    
        </div>

    </section>

    <!--  review section ends  -->

    <!--  order section starts  -->

</body>
</html>